* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.image {
  height: 150px;
  float: right;
  /*margin-left: 50px;*/
  margin-right: 550px;
}

.text {
  margin-top: 0px;
  margin-left: 25%;
}
#text {
  color: #ed5565;
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
}
span:hover {
  color: #48cfad;
  transition: all 0.5s;
}
span.name {
  color: #ed5565;
}
.text p {
  letter-spacing: 4px;
  word-spacing: 10px;
  font-size: 0.8rem;
}
.text a {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: -5s;
  display: inline-block;
}

.text a:hover {
  color: #fff;
}
.text a::before {
  content: "";
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: 0.5s;
}

.text a:hover::before {
  height: 100%;
}


.main {
  margin-top: 150px;
}
/* iframe */
#botframe{
  /*margin: 100px;*/
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 0px;
}

@media (min-width: 992px) {

  .col-lg-4 {
    float: center;
    width: 33.33%;
    margin-left: 380px;
  }

}

@media (max-width: 991px) and (min-width: 768px) {

  .col-md-6,  .col-md-12 {
      float: center;
  }

  .col-md-6 {
    width: 50%;
    margin-left: 160px;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) and (min-width: 600px){
      .col-sm-12 {
    width: 100%;
    margin-left: 100px;
  }
@media (max-width: 599px){
  .col-xsm-12 {
    margin-left: 70px;
  }
}

}


